@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

.active {
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  border-radius: 0.375rem; /* rounded-md */
  color: #10b981; /* text-gray-700 */
  background-color: #d1fae5; /* hover:bg-green-100 */
  display: flex; /* flex */
  align-items: center; /* items-center */
  transition: background-color 0.2s, color 0.2s; /* for smooth hover effect */
}
